*{
    box-sizing: border-box;
}

body{
    background-color:#ffffff;
    border-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    margin: 0px auto;
    width: 70%;
}

header{
    background-color: white;
    border-bottom: 4px solid #666;
    font-family: Georgia, 'Times New Roman', Times, serif;   
    height: 72px;
    text-align: center;
}

.headWrap{
    margin: 0 auto;
    width: 70%;
}

#name{
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 0px;
    padding: 12px;
    height: 68px;
    float: left;
}

#navLink{
    color: #666666;
    width: 100px;
    margin-top: 16px;
    float: right;
}
#navLink:hover{
    color: #cccccc;
    background-color: #666666;
}
    
footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    height: 40px;
}